version: "3"
services:
  search_app:
    build: ./search-app
    depends_on:
      - search_engine
    ports:
      - 7001:7001
    volumes:
      - ./search-app/templates/:/app/templates/   # ← HTML-Dateien übertragen
      - ./search-app/static/:/app/static/   # ← Hier den static-Ordner mounten
      - ./search-app/data/:/data/
      - ./logs:/logs/
    networks:
      - frontend


  search_engine:
    build: ./search-engine
    volumes:
      - ./search-engine/index:/index/
    tty: true
    environment:
      WMODEL: BM25
    ports:
      - 7002:7002

    networks:
      - frontend

networks:
  frontend: